.spinner{
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.60);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    animation: fadeIn 0.2s infinite;
}
.spinner:after{
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #E7004C transparent #E7004C transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    position: relative;
    top: 40%;
    left: 50%;
}
@keyframes lds-dual-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
